.vscode/
.idea/

app/.streamlit/
app/__pycache__/
app/env-app/
app/config/__pycache__/
app/stream/__pycache__/

core/__pycache__/
core/env-core/
core/config/__pycache__/
core/util/__pycache__/
core/routers/__pycache__/
core/stream/__pycache__/

core/data/logs/*
!core/data/logs/.gitkeep
core/data/output/image/*
!core/data/output/image/.gitkeep
core/data/output/video/*
!core/data/output/video/.gitkeep
core/data/output/stream/*
!core/data/output/stream/.gitkeep

core/models/*
core/models/.gitkeep
